@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.bg-shape{
    background-color: black;
    display: inline-flex;
    align-items: center;
    margin-top: 2%;
    width: 100%;
    font-size: auto;
    
    

    
}
.title-slogan{
    
    margin-top: 2%;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 33px;
    margin-left: 30%;
    justify-content: center;
    
    
}
.listof-ai{
    margin-left: 100px;
}

.sites{
    text-decoration: none;
    font-size: 24px ;
    color: black;
    
}

/* 10web.io css */
.firstwebsite{
    margin-top: 15px;
}
.web1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    text-decoration: none;
    margin-left: 80px;
    color: red;
    justify-content: left;
}

.ioimage{
   margin-left: 100px;
   margin-bottom: 20px;
   width: 70%;
   height: 50% ;
   
}


span{
    color: blue;
    font-weight: bolder;
    font-size: 1.8cap;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
    
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}


 
